---
//@ts-nocheck
const coreValuesData = await fetch(
  "https://frontend-design-theme.netlify.app/api/coreValues"
).then((response) => response.json());
// console.log(coreValuesData);
import MicroTitles from "./Micro_titles.astro";
import Button_primary from "./Button_primary.astro";
---

  <section class="core-values-wrapper full">
    <section class="core-values-text-container">
      <div class="core-values-text">
        <MicroTitles class="primary-micro-title"
          >Growing with our Clients</MicroTitles
        >
        <h2>Our core values & principles</h2>
        <p>
          Capitalize on low hanging fruit to identify a ballpark value added
          activity beta test. Override the digital divide with additional from
          DevOps.
        </p>
      </div>
      <div class="button-container">
        <Button_primary class="secondary-btn button-template"
          >Get in touch</Button_primary
        >
      </div>
    </section>
      <ul class="card-container" role="list">
        {
          coreValuesData.values.map(async (item) => {
            const Icon = await import(`../icons/${item.icon}.svg`).then(
              (module) => module.default
            );

            return (
              <li>
                <div class="card-icon">
                  <Icon />
                </div>
                <h2>{item.title}</h2>
                <p>{item.description}</p>
                <a href={item.link.url}>{item.link.text}</a>
              </li>
            );
          })
        }
      </ul>
    </section>


<style>
@layer components{
  .core-values-wrapper{
    background-color: var(--primary-3);
    padding-block: var(--section-padding);
  }
  .full> * {
  grid-column: content;
}
  .core-values-text-container {
    display: grid;
    
    margin-block-end: var(--section-margin-botton);
  }
  .core-values-text {
    color: var(--secondary-2);
    > * + * {
      padding-block-start: var(--flow-space, 0.5rem);
    }
   
  }

  .button-container {
    flex-shrink: 0;
    grid-column: 2;
    align-self: flex-end;
    justify-self: flex-end;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    grid-column: content;
    gap: 1rlh;
  }



  li {
    flex: 1 2 min(260px, 90%);
    display: grid;
    grid-template-columns: subgrid;
    padding: 2rem 2.1rem;
    border-radius: var(--card-bord-r);
    background-color: var(--secondary-1);
    > * + * {
      padding-block-start: var(--flow-space, 2rem);
    }

    p {
      color: var(--text-clr);
      --flow-space: 1rem;
    }
    h2 {
      color: var(--primary-3);
    }

    .card-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 4rem;
      height: 4rem;
      background-color: var(--primary-3);
      border-radius: 50%;
    }
  }
}
</style>
