---
//@ts-nocheck
const financialData = await fetch(
  "https://frontend-design-theme.netlify.app/api/financialProjections"
).then((response) => response.json());
import ButtonPrimary from "./Button_primary.astro";
---
<!--mandag 17/3 fiks fectching  -->
<sectio class="full scroll-container">
<ul>
  {
    financialData.values.map(async (item) => {
      const Icon = await import(`../icons/${item.icon}.svg`).then(
        (module) => module.default
      );

      return (
        <li>
          <Icon />
          <h2>{item.title}</h2>
          <p>{item.description}</p>
          <a href={item.link.url} >{item.link.text}</a>
        </li>
      );
    })
  }
</ul>
</section>




  <style>
@layer components{
p{
  color: var(--text-clr)
}
    h2{
      color: var(--primary-3)
    }
svg{
  fill: var(--primary-3);
}

.scroll-container{
  /* display: grid;
  grid-template-columns: subgrid; */
  /* border: solid green; */
}
/* .full> * {
  grid-column: content;
} */
ul{
  display: flex;
  grid-column:full;
    border: solid blue;
    sroll-snap-type: inline mandatory; 
    overflow-x:auto;
    gap:1rem;
    /* scroll-snap-align:start; */
  padding-inline: max(20px, 50% 120rem)/2;
    scroll-padding-inline-start:max(20px, 50% - 120rem)/2;
    margin-block-start: var(--flow-space1, 2rem);

}
li{
  padding: 2rem 2.1rem;
  border-radius: var( --card-bord-r);
  background-color: #Ebebeb;
  flex-basis: min(35%, 379px);
  flex-shrink: 0;
  scroll-snap-align: start;
  > * + * {
    padding-block-start: var(--flow-space, 2rem);
  }
  p{
    --flow-space: 1rem;
  }
}

li:hover{
  background-color: var(--primary-3);
  *{
    color: var(--secondary-2)
  }
  svg{
  fill: var(--primary-1);
}
}


}

  </style>